section {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
.btn {
    padding: 12px 25px;
    border-radius: 4px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
  }
  .btn1 {
    padding: 12px 25px;
    border-radius: 4px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
  }
  .btn-hollow {
    border: 2px solid #fffffa;
    color: #fffffa;
  }
  .btn-warning {
    color: #fffffa;
    background: #ef271b;
  }
  .btn-primary {
    background: #0facf3;
    color: white;
  }
  .btn-primary2 {
    background: #0facf3;
    color: #fffffa;
  }
  .btn-primary3 {
    background: #0facf3;
    color: #fffffa !important;
    text-decoration: none;
    margin: 80px;
  }
  
  .btn-white {
    background: #fffffa;
    color: #0facf3;
    border: 2px solid #fffffa;
  }
  section > .btn {
    align-self: center;
  }
  section > .btn1 {
    align-self: center;
  }

button {
    cursor: pointer;
  }

/* For smartphones (<768px) */
@media screen and (max-width: 768px) {
  .btn-primary3 {
    margin: 30px;
  }
}

@media only screen and (max-width: 1300px) {
.btn-primary3 {
    margin: 30px;
  }
}

@media only screen and (max-width: 1060px) {
    .btn-primary3 {
        margin: 30px;
      }
}

@media only screen and (max-width: 660px) {
    .btn-primary3 {
        margin: 30px;
      }
}

@media only screen and (max-width: 450px) {
    .btn-primary3 {
        margin: 30px;
      }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .btn-primary3 {
        margin: 30px;
      }
}
