.container {
    background: #bcc6d9;
    padding: 50px 40px 130px;
    position: relative;
  }
  .container1 {
    background: #bcc6d9;
    padding: 40px 11px 258px;
    position: relative;
  }
  .container2 {
    background: #bcc6d9;
    padding: 40px 11px 100px;
    position: relative;
  }
  .container-flip {
    background: #bcc6d9;
    padding: 0px 4px 1px;
    position: relative;
  }
  
  .form-container > .section-title,
  .form-card {
    align-self: center;
    position: inline-block;
    margin: 30px;
  }
  .form-container > .section-title1,
  .form-card {
    align-self: center;
    position: inline-block;
    margin: 0 auto;
  }
  .reports-container {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  }

  @media screen and (max-width: 768px) {
    .container {
        padding: 40px 20px;
      }
    
      .form-container {
        padding: 40px 0 65px;
      }
      .container2 {
        padding: 40px 20px;
      }
  }
